<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="text-center">
    <div class="col-md-6">
      <h2 class="featurette-heading">
        First featurette heading.
        <span class="text-muted">It'll blow your mind.</span>
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        style="width: 500px; height: 500px;"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1670ea8efde%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1670ea8efde%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1328125%22%20y%3D%22261.278125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        data-holder-rendered="true"
      />
    </div>
  </div>
  <main *ngIf="!registerMode" role="main" class="inner cover text-center col md-7">
    <h1 class="featurette-heading">
      Чистый город.
      <span class="text-muted">Приложение призванное изменить мир.</span>
    </h1>
      <p class="lead text-center featurette-body featurette-divider" col md-5>
        Cover is a one-page template for building simple and beautiful home
        pages. Download, edit the text, and add your own fullscreen background
        photo to make it your own.
      </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn moore</button>
    </div>
  </main>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode()"> </app-register>
      </div>
    </div>
  </div>
</div>
