<div class="card mb-5">
    <div (mouseleave)="noFocus()" (mouseover)="onFocus()" class="card-img-wrapper">
      <img src="{{problem.photoUrl || '../../../assets/user.png'}}" alt="{{problem.type}}" class="card-img-top" />
      <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item"><button class="btn btn-primary"
           [routerLink]="['/problems/', problem.id]"><i class="fa fa-window-maximize"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-bullhorn"></i></button></li>
      </ul>
       
    </div>
    <div class="card-body p-1">
      <h6 class="card-title text-center mb1">
        <span class="dot color{{problem.degree}}">
          <i class="fa fa-{{problem.type === 'Fire' ? 'fire' : 'car' }}"></i></span>
        
        <br />{{problem.type}}
        
      </h6>
     
      <p class="card-text text-muted texr-center">{{ problem.country }},<br />{{problem.city}}</p>
      
    </div>
  </div>
  